body {
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .nav{
        background-color: #3c454f !important;
        height:40px !important;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
   
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      margin-left:-15px;
      padding-top: 3.5%;
      background-color: #3c454f;
      height: 138.2%;
      width: 68px;
      position:fixed;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

/*    */
 .logo-size{
        width:160px;
        padding-top:0.8%;
    }
    .icon-size{
        font-size: 20px !important;
        color:#fff !important;
    }
    .icon-text{
        display: block;
        font-size: 10px;
        line-height: 13px;
        word-wrap: break-word;
        padding: 5px 0 0 0;
        color: #d1d8e0;
    }
    .main-view{
        width:95% !important;
        height:137.2% !important;

    }
    .bell-align{
        color: white;
        font-size: 1.33333333em !important;
        line-height: .75em !important;
        vertical-align: 15% !important;
    }
.nav-plan {
    background: #44abed;
    border: #69bcf1 solid 1px;
    padding: 2px 5px 2px 5px;
    line-height: 12px;
    margin: 0 0 0 8px;
    float: right;
    text-transform: uppercase;
}
.plan-text{
    padding: 2px 0 0 0;
    float: left;
    font-weight: 600;
}
.plan-box {
    background: #495460;
    border: #566372 solid 1px;
    color: #fff;
    font-size: 11px;
    line-height: 13px;
    position: relative;
    padding: 4px 7px;
    top: 5px;
    height: 29px;
    float: left;
}
.payment-header{
    background: #8d8d8d;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    height: 55px;
    line-height: 55px;
    text-align: center;
}
.test{
        margin: 0 30px 0 0;
    padding: 0;
    background: #f2f2f2;
    width: 225px;
    height: 280px;
    display: inline-block;
    float: left;
    position: relative;
    border: #eaeaea solid 1px;
}
.tb-head{
        font-weight: 600 !important;
    font-size: 14px !important;
    padding: 0;
    margin: 10px 0 5px 0 !important;
}
.tb-structure{
    margin-top: 14% !important;
    margin-left: 10% !important;
}
.tag{
    display: inline-block !important;
    padding: 4px 0 !important;
    width: 56px !important;
    overflow: hidden !important;
    height: 22px !important;
    text-align: center !important;
    font-size: 13px !important;
    line-height: 14px !important;
    background-color:orange;
    color: #fff;
    top: -4px !important;
    right: -6px !important;
    position: absolute !important;
}

.payment-sec{
    padding: 51px 0 26px 0;
    position: relative;
    text-align: center;
    margin-top:25%
}
#wrapper1 {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: row;
    cursor: auto;
    left: 0;
    -ms-overflow-style: scrollbar;
    -ms-overflow-x: auto;
    overflow-x: auto;
    overflow-y: hidden;
}
.sidenav-btn:hover {
    background-color: #384049;
}
.active{
    background-color:#475e77;
}