body {
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .nav{
        background-color: #3c454f !important;
        height:40px !important;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
   
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #3c454f;
      height: 138.2%;
      width: 5%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

/*    */
 .logo-size{
        width:160px;
        padding-top:0.8%;
    }
    .icon-size{
        font-size: 20px !important;
        color:#fff !important;
    }
    .icon-text{
        display: block;
        font-size: 10px;
        line-height: 13px;
        word-wrap: break-word;
        padding: 5px 0 0 0;
        color: #d1d8e0;
    }
    .main-view{
        width:95% !important;
        height:137.2% !important;

    }